<div>
	 <md-button class="md-raised md-primary" ng-click="showDialog($event,'new')">New category</md-button>
	 <script type="text/ng-template" id="categoryTree">
		<div>
        	{{ category.name }}
			<md-button class="md-icon-button" aria-label="Remove" ng-click="remove(category.name)">
        		<md-icon md-svg-icon="img/icons/ic_close_24px.svg"></md-icon>
      		</md-button>
			<md-button ng-click="showDialog($event,'edit',category)">Edit</md-button>
		</div>
        <ul ng-if="category.children">
            <li ng-repeat="category in category.children" ng-include="'categoryTree'">           
            </li>
        </ul>
    </script>
    <ul>
        <li ng-repeat="category in categories" ng-include="'categoryTree'"></li>
    </ul>
</div>