<md-dialog aria-label="Add new category"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{confirm}}ing new category</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="addForm">
        <md-content layout-padding>
        	<md-input-container class="md-block" flex-gt-sm>
            <label>Category name</label>
            <input ng-model="newcategory.name" ng-disabled="{{disabled}}" required>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Description</label>
            <input ng-model="newcategory.description">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Parent category</label>
            <md-select ng-model="newcategory.parent.name">
            	<md-option value="root">--ROOT--</md-option>
              	<md-option ng-repeat="category in categories" value="{{category.name}}">
                	{{category.name}}
              	</md-option>
            </md-select>
          </md-input-container>
        </md-content>
        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-disabled="addForm.$invalid" class="md-raised md-primary" ng-click="add()">
        {{confirm}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>