<md-dialog aria-label="Add new category"  ng-cloak>
<form>
  <md-toolbar>
  <div class="md-toolbar-tools">
    <h2>{{confirm}}ing new product</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
  </md-button>
</div>
</md-toolbar>
<md-dialog-content>
<div class="md-dialog-content" style="background-color:{{newproduct.color}};" back>
  <form name="addForm">
    <md-content layout-padding style="float:left;">
    <md-input-container>
    <label>Select store</label>
    <md-select ng-model="code"  ng-show="confirm == 'Add'">
    <md-option ng-repeat="store in stores" value="{{store.code}}">{{store.name}}</md-option>
  </md-select> 
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
<label>Name</label>
<input ng-model="newproduct.name" ng-disabled="confirm == 'Edit'" required>
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
<div md-color-picker ng-model="newproduct.color"
label="Choose a color"
default="#f00"
md-color-generic-palette="false"
md-color-history="false"
rgb="false"
hsl="true"
></div>
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
<label>Size (m<sup>2</sup>)</label>
<input type="number" ng-model="newproduct.dimension"/>
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
<label>Weight (kg)</label>
<input type="number" ng-model="newproduct.weight"/>
</md-input-container>
<md-input-container>
<label>Origin country</label>
<md-select ng-model="newproduct.country">
<md-option ng-value="country" ng-repeat="country in countries">{{country}}</md-option>
</md-select> 
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
<label>Producer</label>
<input type="text" ng-model="newproduct.producer"/>
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
<label>Unit price (&euro;)</label>
<input type="number" ng-model="newproduct.unitPrice"/>
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
<label>Category</label>
<md-select ng-model="newproduct.categoryName">
<md-option ng-repeat="category in categories" value="{{category.name}}">
{{category.name}}
</md-option>
</md-select>
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
<label>Quantity</label>
<input type="number" ng-model="newproduct.quantity"/>
</md-input-container>
</md-content>
<md-content layout-padding>

<lf-ng-md-file-input 
lf-files="imagefiles" 
lf-placeholder="Pick images and videos" 
lf-browse-label="Browse images" 
lf-remove-label="Remove"
accept="image/*" 
multiple drag preview >
</lf-ng-md-file-input>

<md-input-container class="md-block" flex-gt-sm>
<label>YouTube video url</label>
<input type="text" ng-model="newproduct.video"/>
</md-input-container>

<!-- <div style="overflow:hidden;height:270px;width:480px;max-width:100%;max-height:100%;"><div id="youtube_canvas" style="height:100%;width:100%;max-width:100%"><md-button><iframe style="height:100%;width:100%;max-width:100%;border:0;" frameborder="0" src="{{newproduct.video}}"></iframe></md-button></div><a class="youtube-embed-code" href="http://www.tubeembed.com" id="get-youtube-data">tubeembed</a><style>#youtube_canvas img{max-width:none!important;background:none!important}</style></div>
 -->
</md-content>
</form>
</div>
</md-dialog-content>
<md-dialog-actions layout="row">
<span flex></span>
<md-button ng-click="cancel()">
Cancel
</md-button>
<md-button ng-disabled="addForm.$invalid" class="md-raised md-primary" ng-click="add()">
{{confirm}}
</md-button>
</md-dialog-actions>
</form>
</md-dialog>