	<div>
		<h1>{{userTypeSelected}} list</h1>

		<fieldset>
			<legend>Filtering</legend>
			<input type="radio" ng-model="userTypeSelected" name="userType" value="user" checked>All users</input><br>
			<input type="radio" ng-model="userTypeSelected" name="userType" value="buyer">Buyers</input><br>
			<input type="radio" ng-model="userTypeSelected" name="userType" value="seller">Sellers</input><br>
			<input type="radio" ng-model="userTypeSelected" name="userType" value="admin">Administrators</input><br>
			Filter users: <input type = "text" ng-model = "userFilter">
		</fieldset>
	</br>
	<table>
		<tr>
			<th>username</th>
			<th>password</th>
			<th>address</th>
			<th>country</th>
			<th>email</th>
			<th>name</th>
			<th>surname</th>
			<th>telephone</th>
		</tr>
		<tr ng-repeat = "user in users | filter: userFilterFn">
			<td>{{user.username}}</td>
			<td>{{user.password}}</td>
			<td>{{user.address}}</td>
			<td>{{user.country}}</td>
			<td>{{user.email}}</td>
			<td>{{user.name}}</td>
			<td>{{user.surname}}</td>
			<td>{{user.telephone}}</td>
		</tr>
	</table>
</div>