<div layout-padding>
	<md-subheader>Deliverer <span style="text-transform: uppercase;">{{name}}</span></md-subheader>
	<form name="form">
		<md-input-container>
			<label>Deliverer name</label>
			<input required ng-model="name"/>
		</md-input-container>
		<md-input-container class="md-block">
			<label>Description:</label>
			<textarea ng-model="description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
		</md-input-container>
		<md-input-container>
			<label>Select countries:</label>
			<md-select ng-model="selectedCountries" multiple>
				<md-option ng-value="country" ng-repeat="country in countries">{{country}}</md-option>
			</md-select> 
		</md-input-container>
		<div layout="row">
			<md-input-container>
				<label>Weight ratio</label>
				<input type="number" required ng-model="weightRatio"/>
			</md-input-container>
			<md-input-container>
				<label>Dimension ratio</label>
				<input type="number" required ng-model="dimensionRatio"/>
			</md-input-container>
			<md-input-container>
				<label>Minimum price</label>
				<input type="number" required ng-model="minPrice"/>
			</md-input-container>
		</div>
		<div layout-padding>
			<h3 layout-padding="center center">{{weightRatio}} x <span style="color:blue">WEIGHT</span> + {{dimensionRatio}} x <span style="color:blue">DIMENSION</span> + {{minPrice}} = DELIVERY PRICE</h3>
		</div>
		<div layout-padding layout="row" layout-align="center center">
			<md-button class="md-primary md-fab md-mini" ng-click="addDeliverer()" type="submit"><md-icon>done_all</md-icon></md-button>
			<md-button class="md-fab md-mini md-warn" ng-href="/WebShop/webShop.jsp#/"><md-icon>cancel</md-icon></md-button>
		</div>
	</form>
</div>