<div>
	
	<form>
	<table>
			<tr>
				<td>Username: </td>
				<td><input type="text" name="username" ng-model="username" required/></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="password" name="password" ng-model="password" required/></td>
			</tr>
			<tr>
				<td>E-mail: </td>
				<td><input type="email" name="email" ng-model="email" required/></td>
			</tr>
			<tr>
				<td>Name: </td>
				<td><input type="text" name="name" ng-model="name"/></td>
			</tr>
			<tr>
				<td>Surname: </td>
				<td><input type="text" name="surname" ng-model="surname"/></td>
			</tr>
			<tr>
				<td>Address:</td>
				<td><input type="text" name="address" ng-model="address"/></td>
			</tr>
			<tr>
				<td>Telephone:</td>
				<td><input type="text" name="telephone" ng-model="telephone"/></td>
			</tr>
			<tr>
				<td>Select country:</td>
				<td>
					<select id="countrySelect" ng-model="country">
						<option disabled selected> -- select your country -- </option>
						<option ng-repeat = "country in countries" value="{{country}}">{{country}}</option>
					</select>
				</td>
			</tr>
	</table>
	<br>
	<button ng-click="addUser()" value="Add">Add User</button>
	</form>
	<button onclick="window.location.href='/WebShop/admin.html#/'" value="Quit">Cancel</button>
</div>