<div layout-padding>
	<div flex-xs flex-gt-xs="600" layout="column">
		<md-card>
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">Add seller</span>
					<span class="md-subhead">Fill all data and confirm adding</span>
				</md-card-header-text>
				<span flex></span>
			</md-card-header>
			<md-card-content layout="row" style="margin-left: 20px;margin-right: 20px">
				<div layout="column">
					<md-input-container>
						<label>Username</label>
						<input ng-model="username" required/>
					</md-input-container>
					<md-input-container>
						<label>Password</label>
						<input type="password" ng-model="password" required/>
					</md-input-container>
					<md-input-container>
						<label>E-mail</label>
						<input ng-model="email" required/>
					</md-input-container>
					<md-input-container>
						<label>Country</label>
						<md-select ng-model="country">
							<md-option ng-repeat="country in countries" ng-value="{{country}}">
								{{country}}
							</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div layout="column">
					<md-input-container>
						<label>Name</label>
						<input ng-model="name"/>
					</md-input-container>
					<md-input-container>
						<label>Surname</label>
						<input ng-model="surname"/>
					</md-input-container>
					<md-input-container>
						<label>Address</label>
						<input ng-model="address"/>
					</md-input-container>
					<md-input-container>
						<label>Telephone</label>
						<input ng-model="telephone"/>
					</md-input-container>
				</div>
			</md-card-content>
			<md-card-actions layout="row" layout-align="space-between center">
				<md-button class="md-fab md-mini md-warn" ng-href="/WebShop/webShop.jsp#/users"><md-icon>close</md-icon></md-button>
				<md-button class="md-fab md-mini md-primary" ng-click="addUser()"><md-icon>done_all</md-icon></md-button>
			</md-card-actions>
		</md-card>
	</div>
</div>