<div>
	 <md-button class="md-raised md-primary" ng-click="showDialog($event,'new')">New category</md-button>

<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content" ng-click="showDialog($event,'edit',category)">
    <a class="btn btn-success btn-xs" ng-if="category.children && category.children.length > 0" data-nodrag ng-click="toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
    {{category.name}}
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeCategory(category.name);remove(this)"><span
        class="glyphicon glyphicon-remove"></span></a>
  </div>
  <ol ui-tree-nodes="" ng-model="category.children" ng-class="{hidden: collapsed}">
    <li ng-repeat="category in category.children" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>
	<div ui-tree id="tree-root" data-drag-enabled="false">
	  <ol ui-tree-nodes ng-model="categories">
	    <li ng-repeat="category in categories" ui-tree-node ng-include="'nodes_renderer.html'"></li>
	  </ol>
	</div>
</div>