<div>
	<h2>
		Deliverers list
	</h3>
	<a href="/WebShop/webShop.jsp#/addDeliverer">Add deliverer</a> Search:
	<input type="text" ng-model="delSearch" /><br>

	<div ng-repeat="deliverer in deliverers | filter: delSearch">
		<hr>
		<div>
			<h3>{{deliverer.name}}</h3>
			Description:<br><br>
			<p>{{deliverer.description}}</p>
			<br> Countries: {{deliverer.countries}} <br>
			<button ng-click="editDeliverer(deliverer)">
				Edit
			</button>
			<md-button class="md-warn" ng-click="removeDeliverer(deliverer.code)">Remove</md-button>
		</div>
	</div>
</div>