<div>
	<md-button class="md-raised md-primary" ng-click="addNewProduct($event)">New product</md-button>

	<md-content>
      <md-list flex>
          <md-subheader class="md-no-sticky">Product list</md-subheader>
          <h2 ng-if="products == undefined || products.length == 0">There is no products</h2>
          <md-list-item style="background-color: {{product.color}};" class="md-3-line" ng-repeat="product in products" ng-click="editProduct($event, product)">
              <div class="md-list-item-text" layout="column" >
                <div layout="row">
                    <h2>{{ product.name }}</h3>
                    <md-button ng-click="showReviews($event, product)">
                        <md-icon>mode_comment</md-icon>
                        <md-tooltip>Show reviews</md-tooltip>
                    </md-button>
                    <span flex></span>
                    <md-button ng-click="removeProduct(product)">
                        <md-icon>delete_forever</md-icon>
                        <md-tooltip>
                            Remove product
                        </md-tooltip>
                    </md-button>
                    <md-button ng-click="addToCart(product)">
                        <md-icon>add_shopping_cart</md-icon>
                        <md-tooltip>Add to shopping cart</md-tooltip>
                    </md-button>
                </div>

                <table>
                 <tr><td>Store:</td><td>{{ product.store }}</td></tr>
                 <tr><td>Size:</td><td>{{ product.dimension }} m<sup>2</sup></td></tr>
                 <tr><td>Origin country:</td><td>{{product.country}}</td></tr>
                 <tr><td>Weight:</td><td>{{product.weight}} kg</td></tr>
                 <tr><td>Producer:</td><td>{{product.producer}}</td></tr>
                 <tr><td>Unit price:</td><td>{{product.unitPrice}}</td></tr>
                 <tr><td>Category:</td><td>{{product.categoryName}}</td></tr>
                 <tr><td>Quantity:</td><td>{{product.quantity}}</td></tr>
             </table>
             <md-button>
                <jk-rating-stars rating="product.rate" read-only="!isBuyer()" on-rating="rateProduct(rating, product)" >
                </jk-rating-stars>
            </md-button>
            <md-button ng-click="addImage($event, product)">Add image</md-button>
            <div ng-repeat="image in product.images">
             <md-button class="md-warn" ng-click="removeImage(product, image)">rem</md-button>
             <md-button><img height="100" width="100" data-ng-src="data:image/png;base64,{{image.data}}"/></md-button>
         </div>
<!--              <div ng-show="product.videoUrl" style="overflow:hidden;height:270px;width:480px;max-width:100%;max-height:100%;"><div id="youtube_canvas" style="height:100%;width:100%;max-width:100%"><md-button><iframe style="height:100%;width:100%;max-width:100%;border:0;" frameborder="0" src="{{}}"></iframe></md-button></div><a class="youtube-embed-code" href="http://www.tubeembed.com" id="get-youtube-data">tubeembed</a><style>#youtube_canvas img{max-width:none!important;background:none!important}</style>
</div> -->
</div>
</md-list-item>
<md-divider ></md-divider>
</div>