<md-dialog aria-label="Add new category"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add new image</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <lf-ng-md-file-input 
				lf-files="imagefiles" 
				lf-placeholder="Pick images" 
				lf-browse-label="Browse images" 
				lf-remove-label="Remove"
				accept="image/*" 
				multiple drag preview >
			</lf-ng-md-file-input>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-disabled="addForm.$invalid" class="md-raised md-primary" ng-click="add()">
        {{confirm}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>