<div>
	<h3>Edit profile</h3>
	<form>
	<table>
			<tr>
				<td>Username: </td>
				<td><input type="text" name="username" ng-model="user.username" required disabled/></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="password" name="password" ng-model="user.password" required/></td>
			</tr>
			<tr>
				<td>E-mail: </td>
				<td><input type="email" name="email" ng-model="user.email" required/></td>
			</tr>
			<tr>
				<td>Name: </td>
				<td><input type="text" name="name" ng-model="user.name"/></td>
			</tr>
			<tr>
				<td>Surname: </td>
				<td><input type="text" name="surname" ng-model="user.surname"/></td>
			</tr>
			<tr>
				<td>Address:</td>
				<td><input type="text" name="address" ng-model="user.address"/></td>
			</tr>
			<tr>
				<td>Telephone:</td>
				<td><input type="text" name="telephone" ng-model="user.telephone"/></td>
			</tr>
			<tr>
				<td>Select country:</td>
				<td>
					<select id="countrySelect" ng-model="user.country">
						<option disabled selected> -- select your country -- </option>
						<option ng-repeat = "country in countries" value="{{country}}">{{country}}</option>
					</select>
				</td>
			</tr>
	</table>
	<br>
	<button ng-click="updateUser()" value="Save">Save changes</button>

	</form>
	<button ng-click="reset()">Reset change</button>
</div>