<md-dialog aria-label="" ng-cloak>
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Make a purchase!</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="img/icons/ic_close_24px.svg"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<div class="md-dialog-content" back>
				<h2>Choose delivery for following countries!</h2>
				<div ng-repeat="group in groups">
					<h4>{{group.country}}</h4>
					<md-select ng-model="group.deliveryCode">
						<md-option ng-repeat="deliverer in deliverers | filter:delByCountry(group.country)" value="{{deliverer.code}}">{{deliverer.name}}</md-option>
					</md-select>
					<ul>
						<li ng-repeat="product in productsInCart | filter:prodByCountry(group.country)">
							{{product.name}}
						</li>
					</ul>
					<md-divider></md-divider>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" layout-align="center center">
			<md-button ng-click="purchase()" ng-disabled="!delivererCode">
				<label>Purchase</label>
				<md-icon>done</md-icon>
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
